body {
    background-color: black;
    color: #ffb547;
    font-family: "cc-stormtrooper-blaster", sans-serif;
        font-weight: 400;
        font-style: normal;
}

h1 {
    font-weight: bold;
}

.choice-img {
    width: 150px;
    cursor: pointer;
    transition: transform 0.3s;
}

.choice-img:hover {
    transform: scale(1.1);
}

/* Make blaster slightly bigger */
.blaster-img {
    width: 180px;
}